n8n/SportSphere_Workflow.json
{
  "name": "SportSphere",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2dbdbfb0-6024-4119-976a-8dc923971a23",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        320
      ],
      "id": "f13840cc-3cec-4e39-a9c3-5f95af2807a8",
      "name": "Webhook",
      "webhookId": "2dbdbfb0-6024-4119-976a-8dc923971a23",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "b9f586f7-eaf4-4657-9191-5eca227971a7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Greet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bf341054-ebd8-4645-a1f7-74a2287b2f60",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Coach Booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e595b0a1-5954-41fc-947a-d9ac6e4ed907",
                    "leftValue": "={{ $json.content.parts[0].text }}\n",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Venue Booking"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9bf2f3a7-1676-4300-ab28-6b6179c22f1b",
                    "leftValue": "={{ $json.content.parts[0].text }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -416,
        288
      ],
      "id": "95276cf8-7018-48c9-b552-c572901f4746",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "collection": "coachbookings",
        "options": {},
        "query": "={\n  \"$expr\": {\n    \"$eq\": [\n      \"$playerId\",\n      { \"$toObjectId\": \"{{ $('Webhook').item.json.body.userId }}\" }\n    ]\n  }\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        0,
        -384
      ],
      "id": "03658664-58d5-4e45-a732-a7cc68e86f5d",
      "name": "CoachBookings",
      "credentials": {
        "mongoDb": {
          "id": "Ph67w0IL1bgSiYhB",
          "name": "SportSphere1"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=Classify the user's message into EXACTLY one of the following categories:\n\nUser message: {{ $json.body.message }}\n\nCategories:\n1 --> Greeting or asking \"how can you help?\" or ask about any Sport Related information.\n2 --> Anything related to the user's coach booking (e.g., \"my coach bookings\", \"find coach details\", \"upcoming coach bookings\")\n3 --> Anything related to the user's venue booking (e.g., \"my venue bookings\", \"find me details about my booked venue, \"upcoming venue bookings\")\n4 --> If nothing related to these 3\n\nRules:\n- If the message is ONLY a greeting --> return 1\n- If the message includes ANYTHING about coach booking --> return 2\n- If the message includes ANYTHING about venue booking --> return 3\n- If the nothing else --> return 4\n\nReturn ONLY the number.\nNO punctuation.\nNO extra text.\nNO explanations. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        320
      ],
      "id": "f442c988-94e4-4ad9-b7bc-ce93e2a802fb",
      "name": "Classify Message",
      "credentials": {
        "googlePalmApi": {
          "id": "yfMkW8aVi8kOvJIT",
          "name": "Gemini1"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.content.parts[0].text }}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        -576
      ],
      "id": "eee114af-e627-48d2-86ff-7ddfba1908dd",
      "name": "Respond of Greetings"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1088,
        -224
      ],
      "id": "50b399af-6483-4ddc-8cdc-693fdb68dd6a",
      "name": "Respond of Coach Booking details"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"reply\": \"Sorry, I cannot help you with this.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        32,
        816
      ],
      "id": "5d66d129-394f-466c-8ad5-57a0bef5956d",
      "name": "Respond of Not able to answer"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        32
      ],
      "id": "963b6bc5-a792-4da6-9583-0ed693239363",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "RaqPiJipUKmItacO",
          "name": "Groq1"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.userId }}",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        32
      ],
      "id": "18d7e37c-cb4d-4283-a239-ebeb8db5d77e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful coach-booking assistant for Sports Sphere.\n\nUser message: {{ $('Webhook').item.json.body.message }}\nUser playerID: {{ $('Webhook').item.json.body.userId }}\n\nHere are the user's coach bookings (use ONLY this data):\n{{ JSON.stringify($items(\"CoachBookings\").map(b => b.json), null, 2) }}\n\nHere are the coach details (use ONLY this data):\n{{ JSON.stringify($items(\"Coach Details\").map(c => c.json), null, 2) }}\n\nYour tasks:\n1. Understand exactly what the user is asking.\n2. Use ONLY the data provided above (bookings + coach details).\n3. NEVER invent or guess any information.\n4. NEVER include any IDs, user IDs, coach IDs, booking IDs, or any database identifiers in your reply.\n5. If the user asks about bookings, include ONLY:\n   - booking status  \n   - date  \n   - start & end time  \n6. If the user asks about coach details only answer coach deatail if user has coach bookings, include ONLY:\n   - sports  \n   - experience  \n   - pricing  \n   - description  \n   - location  \n7. If user has no bookings then answer politely answer that you have no coach bookings.\n7. If the user asks something unclear or unrelated, politely ask for clarification.\n8. If you cannot answer based on the provided data, politely say so.\n9. Your final answer must be friendly, helpful, and written as plain human text (no lists of objects).\n10. Your entire response MUST be in valid JSON format, following this template:\n\n{\n  \"reply\": \"Your response text here\"\n}\n\nSTRICT RULES:\n- DO NOT include backticks.\n- DO NOT include ```json or any other markdown fences.\n- DO NOT include arrays unless absolutely necessary.\n- DO NOT include any explanation outside the JSON object.\n- The value of \"reply\" MUST be a plain string containing ONLY the final human-friendly answer.\n- Never include any IDs in the reply.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        544,
        -224
      ],
      "id": "83d07437-83ef-4e2f-a5c4-731cfa09875a",
      "name": "Coach Bookings"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=User message: {{ $('Webhook').item.json.body.message }}\n\nYou are a polite, friendly, and supportive AI assistant for **Sports Sphere**,\na platform where players can book venues, book coaches, can join other player to play games and also informative about sport knowledge\n\nYour job:\n1. Understand the user's message.\n2. Respond politely and accurately.\n3. Mention Sports Sphere naturally when helpful.\n4. Provide helpful guidance for booking venues or coaches if needed.\n5. Explain User about how sport is being played, rules , etc... step wise and easy manner \n\nVERY IMPORTANT — Follow these rules strictly:\n\nRespond ONLY in **valid JSON**, in this exact format:\n\n{\n  \"reply\": \"Your response text here\"\n}\n\nSTRICT RULES:\n- Do NOT include backticks.\n- Do NOT include ```json or any markdown fences.\n- Do NOT wrap the JSON in code blocks.\n- Do NOT add any explanation before or after the JSON.\n- Do NOT add any fields other than \"reply\".\n- Do NOT output arrays.\n- The value of \"reply\" MUST be a plain string.\n- The WHOLE response must be ONLY the JSON object.\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        -576
      ],
      "id": "c47dd148-bc1d-4aba-8103-8539dd8b9957",
      "name": "Greeting Help Info",
      "credentials": {
        "googlePalmApi": {
          "id": "nXzbrpC7vlxWvK6b",
          "name": "Gemini2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        608
      ],
      "id": "544036df-fb1d-4dd9-81e8-fd9cb5aa4ca1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qvyP2YTchwtEAKmf",
          "name": "Gemini3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.userId }}",
        "contextWindowLength": 2
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        608
      ],
      "id": "48326a15-cb84-4148-af2a-03402c011fcd",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "collection": "bookings",
        "options": {
          "projection": "{\"stripePaymentIntentId\": 0,\n  \"stripeSessionId\": 0,\n  \"stripeChargeId\": 0\n}"
        },
        "query": "={\n  \"$expr\": {\n    \"$eq\": [\n      \"$user\",\n      { \"$toObjectId\": \"{{ $('Webhook').item.json.body.userId }}\" }\n    ]\n  }\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        16,
        160
      ],
      "id": "1a12ae09-c8bf-4942-9257-28a55fe89f45",
      "name": "VenueBookings",
      "credentials": {
        "mongoDb": {
          "id": "Ph67w0IL1bgSiYhB",
          "name": "SportSphere1"
        }
      }
    },
    {
      "parameters": {
        "collection": "venues",
        "options": {},
        "query": "={\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        16,
        352
      ],
      "id": "3c0a335c-83af-4cd6-b063-d564d5e857fd",
      "name": "VenueDetails",
      "credentials": {
        "mongoDb": {
          "id": "Ph67w0IL1bgSiYhB",
          "name": "SportSphere1"
        }
      }
    },
    {
      "parameters": {
        "collection": "subvenues",
        "options": {},
        "query": "{\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        16,
        544
      ],
      "id": "2bc0092b-75ad-4187-b18e-423f354df664",
      "name": "SubVenueDetails",
      "credentials": {
        "mongoDb": {
          "id": "Ph67w0IL1bgSiYhB",
          "name": "SportSphere1"
        }
      }
    },
    {
      "parameters": {
        "collection": "coachdetails",
        "options": {},
        "query": "={\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        16,
        -112
      ],
      "id": "3b6b2530-b0db-466a-a3e6-0806ea1254a1",
      "name": "Coach Details",
      "credentials": {
        "mongoDb": {
          "id": "Ph67w0IL1bgSiYhB",
          "name": "SportSphere1"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        288,
        -224
      ],
      "id": "b398edc6-addd-44da-8a38-3c21a6857de9",
      "name": "Merge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        320
      ],
      "id": "e9a719dc-405b-41ec-b958-9c58e4d5dcdf",
      "name": "Merge1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        336
      ],
      "id": "ea4bea34-4f65-4bd5-b134-bdafee1a57a7",
      "name": "Respond to Venue Booking"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful venue-booking assistant for Sports Sphere.\n\nUser message: {{ $('Webhook').item.json.body.message }}\nUser playerID: {{ $('Webhook').item.json.body.userId }}\n\nHere are the user's venue bookings (use ONLY this data):\n{{ JSON.stringify($items(\"VenueBookings\").map(v => v.json), null, 2) }}\n\nHere are the venue details (use ONLY this data):\n{{ JSON.stringify($items(\"VenueDetails\").map(v => v.json), null, 2) }}\n\nHere are the sub-venue details (use ONLY this data):\n{{ JSON.stringify($items(\"SubVenueDetails\").map(s => s.json), null, 2) }}\n\nYour tasks:\n\nUnderstand exactly what the user is asking.\n\nUse ONLY the data provided above (venue bookings + venue details + sub-venue details).\n\nNEVER invent or guess any information.\n\nNEVER include any IDs, user IDs, venue IDs, sub-venue IDs, booking IDs, or any database identifiers in your reply.\n\nIf the user asks about bookings, include ONLY:\n\nbooking status\n\ndate\n\nstart time\n\nend time\n\namount paid\n\ncurrency\n\nIf the user asks about venue details, include ONLY:\n\nvenue name\n\nvenue description\n\nvenue city\n\nvenue state (if available)\n\nsports available\n\namenities\n\nIf the user asks about sub-venue details, include ONLY:\n\nsub-venue name\n\ndescription\n\nprice\n\nsports playable\n\nmin and max players for each sport\n\nIf the user has no venue bookings, politely say they have no venue bookings.\n\nIf the question is unclear or unrelated, ask politely for clarification.\n\nIf the data required is not available in the provided inputs, politely say you cannot answer with the given data.\n\nYour reply must be friendly, conversational, and written as normal human text.\n\nYour entire output MUST be a valid JSON object in this exact format:\n{\n\"reply\": \"Your response text here\"\n}\n\nSTRICT RULES:\n\nDo not include backticks.\n\nDo not include any markdown fences.\n\nDo not include arrays unless absolutely necessary.\n\nDo not include any explanation outside the JSON object.\n\nThe value of \"reply\" must be only plain text.\n\nNever include IDs in the reply.\n\nDo not guess missing information.\n\nOnly speak about venue or sub-venue details if the user has bookings or they explicitly ask for it.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        608,
        336
      ],
      "id": "61e2de89-f238-4fc6-90a8-62976d7d9688",
      "name": "Venue Bookings"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Classify Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Greeting Help Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CoachBookings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Coach Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VenueBookings",
            "type": "main",
            "index": 0
          },
          {
            "node": "VenueDetails",
            "type": "main",
            "index": 0
          },
          {
            "node": "SubVenueDetails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond of Not able to answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CoachBookings": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Message": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Coach Bookings",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Coach Bookings",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Coach Bookings": {
      "main": [
        [
          {
            "node": "Respond of Coach Booking details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting Help Info": {
      "main": [
        [
          {
            "node": "Respond of Greetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Venue Bookings",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Venue Bookings",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Respond of Not able to answer": {
      "main": [
        []
      ]
    },
    "VenueBookings": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VenueDetails": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SubVenueDetails": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Respond of Greetings": {
      "main": [
        []
      ]
    },
    "Coach Details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Coach Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Venue Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Venue Bookings": {
      "main": [
        [
          {
            "node": "Respond to Venue Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1700f6cd-0498-4888-956c-ff4500c1020c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a98a60b442a7a8da5d7039a742969f1a678dc8722454a89e16bcc1097795852"
  },
  "id": "WvR7t5hFqrQmGLhM",
  "tags": []
}